
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
h1{
    font-size: 60px;
    color: rgb(242, 43, 43);
}
h6{
    font-size: 50%;
}
p{
    background-color: #fc9; 
    border:30px solid #f81010f1; 
    padding: 30px;
    width: 550px;
    text-align: center;
    text-decoration: double;
    
}

body{
    background-color: #f81010f1;

}

main{
    background-color: rgba(253, 253, 253, 0.74);
    width: 900px;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(66, 50, 50, 0.425);
}
img.lado{
    float: right;
}
@media screen and
(min-width: 100px) and
(max-width: 1200px){
    body{
        background-color: #f81010f1;
    
    }
    p{
        background-color: #fc9; 
        border:10px solid #f81010f1; 
        padding: 2px;
        width: auto;
        text-align: center;
        text-decoration: double;
        font-size:small;
        
    }
    
    main{
        background-color: rgba(253, 253, 253, 0.74);
        width: auto;
        margin: auto;
        padding: auto;
        box-shadow: 3px 3px 5px rgba(66, 50, 50, 0.425);
    }
    img.lado{
        float: right;
    
}
}